@media (max-width: 992px) {
    .container {
        width: auto;
    }
    .header {
        margin-right: 40px;
        margin-left: 40px;
    }
    .promo__wrapper {
        margin-right: 40px;
    }
    .title_left {
        margin-left: 40px;
    }
    .consultation__descr {
        margin-left: 40px;
    }
    .feed-form {
        margin-left: 40px;
    }
    .advantages {
        padding: 70px 20px 78px 20px;
    }
    .advantages__wrap {
        max-width: 768;
    }
    .reviews__card {
        margin-left: 40px;
        margin-right: 40px;
    }
    .reviews__descr {
        max-width: 600px;
    }
    .prev {
        display: none;
    }
    .next {
        display: none;
    }
    .catalog__content {
        justify-content: center;
    }
    .catalog-item {
        &:nth-child(3n-2) {
            margin-left: 20px;
        }
    }
}   

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .promo__wrapper {
        margin-right: 0;
        align-items: center;
    }
    .advantages__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .advantages__elements {
        max-width: 300px;
        img {
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 576px) {
    .header__official {
        display: none;
    }
/*     .carousel {
        margin-left: 20px;
        margin-right: 20px;
    } */
    .catalog__tab {
        width: 170px;
        height: 40px;
        line-height: 40px;
    }
    .reviews__card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 0;
        }
    }
    .carousel__inner {
        width: 100%;
    }
    .tns-item {
        img {
            max-width: 576px;
        }
    }
    .feed-form_ml5 {
        margin-left: 5px;
    }
    .footer__info {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .header {
        margin-left: 20px;
    }
    .header__logo {
        width: 160px;
    }
    .header__contacts {
        font-size: 14px;
    }
    .promo__header {
        margin-left: 20px;
        font-size: 36px;
    }
    .promo__subheader {
        font-size: 20px;
        margin-left: 20px;
    }
    .promo__icons {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .catalog__tabs {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .catalog__tab {
        width: 250px;
        margin-bottom: 15px;
    }
    .catalog__content {
        margin-top: 20px;
    }
    .carousel {
        padding: 20px 0;
    }
    .carousel__inner {
        width: 100%;
    }
    .tns-item {
        img {
            max-width: 400px;
        }
    }
    .footer__info {
        width: 100%;
    }
    .modal__close {
        position: absolute!important;
        top: 2px!important;
        right: 2px!important;
    }
}